[Unit]
Description=Mount unit for google-cloud-sdk, revision 175
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/google-cloud-sdk_175.snap
Where=/snap/google-cloud-sdk/175
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
